.regist-c{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom left, #76b2eb, #4383eb) ;
    &.login-c{
    background: linear-gradient(to bottom right, #50eebf, #4383eb) ;

    }
    .content{
        width: 500px;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 0 auto;
        position: absolute;
        z-index: 1000;
        top: 50%;
        left: 50%;
        margin-left: -250px;

        margin-top: -200px;
        
    }
    .user-form{
        .ant-form-item{
            margin-bottom: 10px!important;
        }
    }
}